<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<style>
.logo{
	border-radius:10px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
	object-fit:contain;
}

</style>
<script>


</script>
  <body>
	
    <section id="testimonial">
      <div class="container">
        <div class="row h-100">
          <div class="col-lg-7 mx-auto text-center mb-6">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Featured Restaurants</h5>
          </div>
        </div>
        <div class="row gx-2">
        
          <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5" th:each="shop:${shoplist}">
         	<a th:href="'/shop/main?sid='+${shop.id}" th:if="${shop.status == 1}">
            <div class="card card-span h-100 text-white rounded-3"><img class="img-fluid rounded-3 h-100" src="/bootstrap/foodwagon/assets/img/gallery/food-world.png" alt="..." />
              <div class="card-body ps-0">
                <div class="d-flex align-items-center mb-3">
                	<!-- 가게 로고 -->
                	<div class="col-3">
		                	<img class="img-fluid logo" th:if="${shop.logo != null }"
								th:src="'https://kr.object.ncloudstorage.com/foodject/shop/'+${shop.logo}" alt="error1" />
							<img class="img-fluid logo" th:unless="${shop.logo != null }"
								src="https://kr.object.ncloudstorage.com/foodject/shop/logo1.jpg" alt="error2" />
					</div>
					<!-- 가게 로고 끝 -->	
                  <div class="flex-1 ms-3">
                    <h5 class="mb-0 fw-bold text-1000" th:text="${shop.name}">가게이름</h5>
                    <!-- span class="text-primary fs--1 me-1"><i class="fas fa-star"></i></span><span class="mb-0 text-primary">46</span-->
                  </div>
                </div>
                <span class="badge bg-soft-success p-2"><span class="fw-bold fs-1 text-success">Open Now</span></span>
                
              </div>
            </div>
            </a>
            <a href="#" th:unless="${shop.status == 1}">
            <div class="card card-span h-100 text-white rounded-3"><img class="img-fluid rounded-3 h-100" src="/bootstrap/foodwagon/assets/img/gallery/food-world.png" alt="..." />
              <div class="card-body ps-0">
                <div class="d-flex align-items-center mb-3">
                	<!-- 가게 로고 -->
                	<div class="col-3">
		                	<img class="img-fluid logo" th:if="${shop.logo != null }"
								th:src="'https://kr.object.ncloudstorage.com/foodject/shop/'+${shop.logo}" alt="error1" />
							<img class="img-fluid logo" th:unless="${shop.logo != null }"
								src="https://kr.object.ncloudstorage.com/foodject/shop/logo1.jpg" alt="error2" />
					</div>
					<!-- 가게 로고 끝 -->	
                  <div class="flex-1 ms-3">
                    <h5 class="mb-0 fw-bold text-1000" th:text="${shop.name}">가게이름</h5>
                    <!-- span class="text-primary fs--1 me-1"><i class="fas fa-star"></i></span><span class="mb-0 text-primary">46</span-->
                  </div>
                </div>
                <span class="badge bg-soft-danger p-2"><span class="fw-bold fs-1 text-danger">Opens Tomorrow</span></span>
                
              </div>
            </div>
            </a>
            
          </div>

          
         
          <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-primary" href="#!">View All <i class="fas fa-chevron-right ms-2"> </i></a></div>
        </div>
      </div>
    </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
	

    </main>
  </body>

</html>