<meta charset="UTF-8">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  padding-left:20%;
  padding-right:20%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.modal-body {padding: 2px 16px;}

</style>

<script>


/* 장바구니로 이동 */
function goCart(){
	var uid = $('#uid_index').val();
	//var sid = document.location.href.split("?");
	location.href='/cart?uid='+uid //+'&'+sid[1];
}



/* 옵션 장바구니 추가 */
function addOptcart(mnid){	
	//alert("Start addOptcart// mnid="+mnid)
	$('#'+mnid+'option_form').attr({
		'method':'post',
		'action':'/shop/addOptcart'
	});
	$('#'+mnid+'option_form').submit();
	//alert("End addOptcart");
}

/* 메뉴 장바구니 추가 */
function addCart(uid,mnid,num,chk,sid){
	$.ajax({
		url:'/shop/main/addCart',
		data:{'uid':uid, 'mnid':mnid, 'num':num, 'chk':chk, 'sid':sid},
		async: false,	//동기식으로 처리
		success:function(data){
			if(data == "siderror"){
				alert('장바구니에는 같은 가게의 메뉴만 담을 수 있습니다.');
			}else{
				// alert('cartIn:'+data+' 메뉴가 장바구니에 정상적으로 등록되었습니다');
				alert('장바구니에 정상적으로 등록되었습니다');
				$('#'+mnid+'cartId').val(data);
			}
		}
	});
};

function changeCnt(uid,sid){
	$.ajax({
		url:'/shop/main/changeCnt',
		data:{'uid':uid, 'sid':sid},
		// async: false,	//동기식으로 처리
		success:function(data){
			if(data == "error"){
				console.log(data)
			}else{
				$('#cartCnt').text('( '+data+' )')
			}
		}
	});
}

/* 주문서에 메뉴,옵션 추가 */
function addOrderSheet(mnid){
	var chk = $("input:checkbox[name=option]:checked").length
	var uid = $('#uid').val();
	var num = $('#'+mnid+'num').val();
	var sid = $('#sid').val();
	
	addCart(uid,mnid,num,chk,sid);
	changeCnt(uid,sid);
	if(chk != 0){
		addOptcart(mnid);
	}
	closeModal(mnid);
}

/* Login page로 날리기 */
function goLogin(){
	alert("로그인이 필요합니다.");
	$('#url').attr({
		'method':'post',
		'action':'/cust/login'
	});
	$('#url').submit();
}

/* modal을 열거나, 옵션이 존재하지 않을 경우 바로 주문서에 추가함. */

function openModal(mnid){
	// if문으로 로그인세션 검사
	if($('#uid').val() == 0){
		// 로그인 세션 없으면 url 가지고 login 페이지로 날림.
		goLogin();
	}else{
		// Get the modal
		var modal = document.getElementById('m'+mnid);
		// When the user clicks the button, open the modal 
		modal.style.display = "block";
	}
}
/* x를 누르면 modal이 닫히도록 함. */
function closeModal(mnid){
	// var btn = document.getElementById(mname+'_closebtn');
	var modal = document.getElementById('m'+mnid);
	modal.style.display = "none";
	$('input[name="option"]').each(function(){
		this.checked=false;
	});
	$('#'+mnid+'num').val('1');
}

/* 모든 모달을 HTMLCollection으로 받아옴. */ 
var modalArr = document.getElementsByClassName("modal");

/* 모달 이외의 부분을 클릭하면 모달이 close 되도록 함. */
window.onclick = function(event) {
	for(let i = 0; i < modalArr.length ; i++){
		if (event.target == modalArr[i]) {
			modalArr[i].style.display = "none";
			$('input[name="option"]').each(function(){
				this.checked=false;
			});
		}
	}

}

$(document).ready(function(){
	var prevUrl = document.location.href;
	$('#prevUrl').val(prevUrl);
	//alert($('#prevUrl').val());
	var shopStatus = $('#status').val();
	if (shopStatus != 1){
		$('.btn_disabled').attr({
			'disabled':'true'
		});
	}

});
</script>
     <section class="py-0 bg-primary-gradient">
        <div class="container">
          <div class="row justify-content-center g-0">
            <div class="col-xl-9">          
             
	              <div class="col-lg-6 text-center mx-auto mt-4 pt-6 pb-2">              	
	              	<div class="mx-auto mb-2 md-5 mt-4 pt-6" style= "width:170px;">
	   				  <img id="imgviewer" class="img-fluid rounded-3 h-100" th:if="${shop.logo != null }" th:src="${'https://kr.object.ncloudstorage.com/foodject/shop/'+shop.logo}" alt="image" />
	   				  <img id="imgviewer" class="img-fluid rounded-3 h-100" th:unless="${shop.logo != null }" src="https://kr.object.ncloudstorage.com/foodject/shop/logo1.jpg" alt="image" />
	   				                	
	              	</div>
	                  <h2 th:text="${shop.name}"></h2>
	                  <h6 th:text="${shop.info}">가게 정보</h6>
	                  <span class="badge bg-soft-success"><span class="fw-bold fs-1 text-success">Open Now</span></span>
	                  &nbsp<a id="heart" type="button"><i class='far fa-heart' style='font-size:18px'></i></a>
	              </div>
	              <div class="icon-group justify-content-center">  
	               	  <table>
	              	  	<tbody>
	              	  	  <tr>
	              	  	  	<td>최소주문금액</td>
	              	  	  	<td>&nbsp&nbsp&nbsp&nbsp</td>
	              	  	  	<td align="right" th:text="${#numbers.formatInteger(shop.allmin, 0, 'COMMA')}+'원'"></td>
	              	  	  </tr>
	              	  	  <tr>
	              	  	    <td>배달팁</td>
	              	  	    <td>&nbsp&nbsp&nbsp&nbsp</td>
	              	  	  	<td align="right">3,000원</td>           	  	  
	              	  	  </tr>
	              	  	</tbody>
	              	  </table>                            	
	             </div>             
	             <input type="hidden" id="status" th:value="${shop.status}">
	             <div class="icon-group1 justify-content-center pt-2">
	                <div th:if="${session.loginid != null}">
	                	<button class="btn btn-primary btn_disabled" onclick="goCart();">주문하기
	                	<span id="cartCnt" th:text="'( '+${row}+' )'"></span><i class="fas fa-chevron-right ms-2"></i>
	                	</button>
	                </div>
	             	<div  th:unless="${session.loginid != null}">
	             		<button class="btn btn-primary btn_disabled" onclick="goLogin();">주문하기
	             		<i class="fas fa-chevron-right ms-2"></i>
	             		</button>
	             	</div>             	             	
	             </div>
	             <hr>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>

<!-- ============================================-->
        <div class="container pt-3 pb-5">
              <div class="card w-xxl-100">
                <div class="card-body">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active mb-3" type="button"><i class="fas fa-hamburger me-2"></i></button>
                      <a 
                      class="nav-link mb-3" 
                      type="button"                    
                      th:href="'#c'+${c.id}" th:each="c:${clist}" th:text="${c.name}">
                      </a>
                      
                    </div>
                  </nav>
                  
                  <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="col">                      
							<section class="py-4 overflow-hidden">
							  <div class="container">
							    <div class="row h-100" th:each="c:${clist}">
							      <div class="col-lg-7 mx-auto text-center mt-1 mb-5">
							        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm" th:text="${c.name}" th:id="'c'+${c.id}">Collection name</h5>
							      </div>
							      <div class="col-12">
							        <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
							          <div class="carousel-inner">
							            <div class="carousel-item active" data-bs-interval="10000">
							              <div class="row gx-3 h-100 align-items-center">
							                <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-5 h-100" th:each="mn:${mlist}" th:if="${mn.collid == c.id}">
							                  
							                  <!-- 메뉴 이미지 -->	
							                  <button class="btn2 btn-noline" th:onclick="openModal([[${mn.id}]]);">						                  
							                  <div class="card card-span h-100 rounded-3">
							                  <div style="width:100px; height:100px;">
							                  	<img class="img-fluid rounded-3 h-100" th:if="${mn.img != null }" 
													th:src="'https://kr.object.ncloudstorage.com/foodject/menu/'+${mn.img}" alt="error1" />
												<img class="img-fluid rounded-3 h-100" th:unless="${mn.img != null }" 
													src="https://kr.object.ncloudstorage.com/foodject/menu/default.jpg" alt="error2" />							                  
							                  </div>
							                    <div class="card-body ps-0">
							                      <h5 th:text="${mn.name}">메뉴명</h5>
							                      <span class="text-1000" th:text="${#numbers.formatInteger(mn.price, 0, 'COMMA')}+'원'">가격</span>
							                    </div>							                  
							                  
							                  </div>
							                  </button>							                 

							                  	<!-- The Modal -->
												<div th:if="${session.loginid != null}" th:id="'m'+${mn.id}" class="modal">
												
												  <!-- Modal -->

												  <!-- Modal content -->
												 <div class="modal-dialog modal-sm">
												  <div class="modal-content">
												    <div class="modal-header">
												      <h5 class="modal-title" th:text="${mn.name}+'&nbsp옵션선택'"></h5>												      
												      <button type="button" class="btn-close" th:onclick="closeModal([[${mn.id}]]);"></button>
												    </div>
												    
												    <div class="modal-body">
												      <!-- 메뉴 이미지 -->
												      <div class="justify-content-center">
													    <div class="menu_modal_img mb-2">
									                  	<img class="img-fluid rounded-3 h-100" th:if="${mn.img != null }" 
															th:src="'https://kr.object.ncloudstorage.com/foodject/menu/'+${mn.img}" alt="error1" />
														<img class="img-fluid rounded-3 h-100" th:unless="${mn.img != null }" 
															src="https://kr.object.ncloudstorage.com/foodject/menu/default.jpg" alt="error2" />
													    </div>													 
												      </div>
												      <h6 class="text-center mt-2" th:text="${#numbers.formatInteger(mn.price, 0, 'COMMA')}+'원'"></h6>	
	
												      <!-- 메뉴 옵션선택 -->
												      <input type="hidden" th:value="${mn.id}" id="mnid">
												      <input type="hidden" th:value="${session.loginid.id}" id="uid">
												      												      
												      <form th:id="${mn.id}+'option_form'">
												      	<input type="hidden" id="sid" name="sid" th:value="${sid}">
												      	<input type="hidden" th:id="${mn.id}+'cartId'" name="cartId" value="100" >
												      	<p th:each="o:${olist}"><input type="checkbox" name="option" th:if="${o.mnid == mn.id}" th:text="' '+${o.name}+'&nbsp('+${#numbers.formatInteger(o.price, 0, 'COMMA')}+'원'+')'" th:value="${o.id}"></p><br>
												      </form>
												      
												      <h6>주문 수량 : &nbsp<input type="number" th:id="${mn.id}+'num'" class="col-2" value="1" min="1"></h6><br>
												     
												      
												    </div>
												    <div class="modal-footer">
												        <button type="button" class="btn btn-line text-dark" th:id="${mn.id}+'_closebtn'" th:onclick="addOrderSheet([[${mn.id}]]);">담기</button>
												    </div>
												  </div>
												  </div>
												  

												  
							                  	</div>

							                  	<div th:unless="${session.loginid != null}">
							                  		<input type="hidden" value="0" id="uid">
							                  	</div>
							                  	<form id="url">
							                  		<input type="hidden" name="prevUrl" id="prevUrl">
							                  	</form>
							                </div>
							              </div>
							            </div>
							          </div>
							        </div>
							      </div>
							      
							      <hr>
							    </div>
					             <div class="icon-group1 justify-content-center pt-2">
					                <div th:if="${session.loginid != null}">
					                	<button class="btn btn-primary btn_disabled" onclick="goCart();">주문하기
					                	<span id="cartCnt" th:text="'( '+${row}+' )'"></span><i class="fas fa-chevron-right ms-2"></i>
					                	</button>
					                </div>
					             	<div  th:unless="${session.loginid != null}">
					             		<button class="btn btn-primary btn_disabled" onclick="goLogin();">주문하기
					             		<i class="fas fa-chevron-right ms-2"></i>
					             		</button>
					             	</div>             	             	
					             </div>
							  </div><!-- end of .container-->
							</section>

                        </div>
                  </div>                  
                </div>
              </div>
         </div>
<!-- ============================================-->


<!-- ============================================-->
<!-- <section> begin ============================-->

<!-- <section> close ============================-->
<!-- ============================================-->