<script type="text/javascript"
  th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaosrc} + '&libraries=services'"></script>
<script>

 

  $(document).ready(function () {
   

    

   
    $('#colcancel').click(function () {
    	 var id =   $('input[name="gts2"]').val();
		  var sid =   $('input[name="gtc2"]').val();
      location.href = "/host/menu/col?id="+id+"&sid="+sid;
    });
    $('#colsubmit').click(function () {
    	var name = $('#name').val();
	    var line = $('#line').val();
    	
	    if(name == ''){
	         $('#name').focus();
	         alert("컬렉션 명을 입력하세요.");
	         return;      
	      }
	      
	      if(line == ''){
	         $('#line').focus();
	         alert("순서 번호를 정해주세요.");
	         return;
	      }
	    
      $('#colregisterform').attr({
        'method': 'post',
        'action': '/host/menu/colregister/colregisterimpl'
      });
      $('#colregisterform').submit();

    });
  });
</script>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" th:text="${sh.name}  + ' 컬렉션 추가'">컬렉션 등록</h4>
       <div class="form-group">
        
   		   <div > 
				<input th:id="'gts2'+${sh.id}"  type="number" 
                    name="gts2"  value="gts2" th:value="${sh.id}" hidden="hidden">
				</div>
				<div th:each="c: ${clist}"> 
				<input th:id="'gtc2'+${c.sid}"  type="number" 
                    name="gtc2"  value="gtc2" th:value="${c.sid}" hidden="hidden" >
				</div>
        </div>
      <form class="registerform" id="colregisterform">
       <div class="form-group"  hidden="hidden">
          <label for="sid">sid</label>
          <input type="number" class="form-control" id="sid" name="sid" th:value="${sh.id}"  placeholder="shopID" >
        </div>
        
        
      
        <div class="form-group">
          <label for="name">컬렉션명</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="컬렉션명">
        </div>
       
        
         <div class="form-group">
          <label for="line">순서</label>
          <input type="number" class="form-control" id="line" name="line" placeholder="메뉴 순서">
        </div>
       
       
        <button class="btn btn-primary" id="colsubmit" type="button">등록</button>
        <button class="btn btn-light" id="colcancel" type="button">취소</button>
      </form>
    </div>
  </div>
</div>