<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<style type="text/css">
.modal-dialog{
	
         top: 0%;
         left: 0%;   
       	 transform: translate(-50%, -50%);
         max-height: calc(200vh - 110px);
         max-width: calc(120vh - 70px);
         overflow: auto;
}

</style>
<script type="text/javascript"
  th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaosrc} + '&libraries=services'"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<script>
/* function WindowModalResize(){
	window.dialogWidth = $(document).width('600')+'px';
	
}
 */

$(document).ready(function () {
	$('#mndcancel').click(function () {
		var id =   $('input[name="collid1"]').val();
		var collid =   $('input[name="collid1"]').val();
		var sid =   $('input[name="sid"]').val();
	  location.href = "/host/menu/msel?id="+id+"&collid="+collid+"&sid="+sid;
	});
	$('#mnudt').click(function () {
	    var name = $('#name').val();
	    var price = $('#price').val();
	    var line = $('#line').val();
	    
	    if(name == ''){
	         $('#name').focus();
	         alert("메뉴명을 입력하세요.");
	         return;
	      }
	      if(price == ''){
		         $('#price').focus();
		         alert("가격을 입력하세요.");
		         return;      
		      }
		      
		      if(line == ''){
		         $('#line').focus();
		         alert("순서 번호를 정해주세요.");
		         return;
		      }
	    
		 $('#updateform').attr({
	        'enctype': 'multipart/form-data',
	        'method': 'post',
	        'action': '/host/menu/detail/update'
	      });
	      $('#updateform').submit();
	      });
	 $("#selectall2").click(function() {
			if($("#selectall2").is(":checked")) $("input[name=selected]").prop("checked", true);
			else $("input[name=selected]").prop("checked", false);
		});
		
		$("input[name=selected]").click(function() {
			var total = $("input[name=selected]").length;
			var checked = $("input[name=selected]:checked").length;
			
			if(total != checked) $("#selectall2").prop("checked", false);
			else $("#selectall2").prop("checked", true); 
		});
	
	$('#optdlt').click(function(){
		var c = confirm('삭제 하시겠습니까?');
		var oArray =[];
		 $("input[name=selected]:checked").each(function(i) {
			 oArray.push($(this).val());
		 });
	
		
		if(c == true){
			 var id =   $('input[name="id"]').val();
			 var collid =   $('input[name="collid1"]').val();
			 var sid =   $('input[name="sid"]').val();
			location.href='/host/menu/detail/optdelete?oArray='+oArray+"&id="+id+"&collid="+collid+"&sid="+sid;
		}
	});
	$('#optadd').click(function () {
    	var addopt = $('#addopt').val();
    	var addpopt = $('#addpopt').val();
    	
	      
	      if(addopt == ''){
	         $('#addopt').focus();
	         alert("옵션명을 입력하세요.");
	         return;
	      }
	      if(addpopt == ''){
		         $('#addpopt').focus();
		         alert("가격을 입력하세요.");
		         return;
		      }
			    
    	
    	
      $('#addoptform').attr({
        'method': 'post',
        'action': '/host/menu/detail/optregisterimpl'
      });
      $('#addoptform').submit();

    });


});

 function mody(id){
	var name = $('#opt'+id).val();
	var price = $('#optp'+id).val();
	
	if(name == ''){
        $('#opt'+id).focus();
        alert("옵션명을 입력하세요.");
        return;
     }
     if(price == ''){
	         $('#optp'+id).focus();
	         alert("가격을 입력하세요.");
	         return;
	      }
	
	 $.ajax({
			url:'optupt',
			data:{
			'id': id,
			'name' : name,
			'price' : price
			
			},
			 success: function (data) { 
				$('#opt'+id).val(data.name);
				$('#optp'+id).val(data.price);
				$('#dopri'+id).text(data.price);
				alert("수정 완료!");
			 }
			});
	 		
 };
 
</script>
<style>
.form-group > img{
 	width:200px;
}
</style>


<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 style= "color: #ffa000; font-family: 'Jua', sans-serif; " class="card-title" th:text="${mnd.name} + ' 상세'">메뉴 등록</h4>
      <form class="updateform" id="updateform">
        
        <div class="form-group" >
        <img class="img-fluid rounded-3 h-100" th:if="${mnd.img != null }" 
						th:src="'https://kr.object.ncloudstorage.com/foodject/menu/'+${mnd.img}" alt="error1" />
						<img class="img-fluid rounded-3 h-100" th:unless="${mnd.img != null }" 
						src="https://kr.object.ncloudstorage.com/foodject/menu/default.jpg" alt="error2" />
      </div>
        <div class="form-group">
          <label for="name" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">메뉴명</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="메뉴명" th:value="${mnd.name}">
        </div>
       
        <div class="form-group">
          <label for="price" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">가격</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="메뉴 가격"  th:value="${mnd.price}">
        </div>
         <div class="form-group">
          <label for="line" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">순서</label>
          <input type="number" class="form-control" id="line" name="line" placeholder="메뉴 순서"  th:value="${mnd.line}">
        </div>
         <div class="form-group">
          <label for="cid" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">카테고리</label>
          <select name="cid" class="form-control form-control-item" id="cid">
                	<option th:each="ct:${ctlist}" 
                	th:value="${ct.id}" 
                	th:text="${ct.name}"
                	th:selected="${mnd.cid} == ${ct.id}">
                	</option>
                </select>
        </div>
        <div class="form-group">
        <label for="collid" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">컬렉션</label>
                <select name="collid" class="form-control form-control-item" id="collid" >
                	<option th:each="co:${clist}" 
                	th:if="${co.sid == mnd.sid}" 
                	th:value="${co.id}" 
                	th:text="${co.name}"
                	th:selected="${mnd.collid} == ${co.id}">
                	</option>
                	       		
               </select>
            </div>
       		<div class="form-group">
          <label for="opt" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">옵션</label>
          <table class="table table-striped" th:unless = "${olist.isEmpty()}">
					<thead>
                    <tr style= "color: #ffa000; font-family: 'Jua', sans-serif; ">
                        <th>옵션명</th>
                        <th>가격</th>   
                    </tr>
                </thead> 
                <tbody>
                    <tr th:each= "o: ${olist}"> 	
                      
                      <td th:unless = "${olist.isEmpty()}" th:text = "${o.name}" ></td>
                      <td th:id="'dopri'+${o.id}" th:unless = "${olist.isEmpty()}" th:text = "${o.price}"></td>    
                    </tr>
                </tbody>	
				</table>
          
          <hr>
          <ul th:if = "${olist.isEmpty()}">
          	<li > 옵션 없음 </li>
          
          </ul>
          
          <a class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#optModal" style= " font-family: 'Jua', sans-serif; "> 옵션 관리 </a>
        
         	
         	
        </div>
        
        
          <div class="form-group">
           <label style= "color: #ffa000; font-family: 'Jua', sans-serif; ">이미지 수정</label>
            <input type="file" class="form-control file-upload-info" id="mndimg" name="mf" placeholder="Upload Image"
              accept=".jpg, .jpeg, .png">
            <span class="input-group-append">
              <!-- <button class="file-upload-browse btn btn-primary" id="bnumbtn" type="button">이미지 선택</button> -->
            </span>
          </div>
        <div > 
				<input type="number" 
                    name="id"  value="id" th:value="${mnd.id}" hidden="hidden">
				</div>
          <div > 
				<input  type="number" 
                    name="sid"  value="sid" th:value="${mnd.sid}" hidden="hidden">
				</div>
        
     
        <button class="btn btn-primary" id="mnudt" type="button" style= " font-family: 'Jua', sans-serif; ">수정</button>
        <button class="btn btn-light" id="mndcancel" type="button" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">취소</button>
      </form>
        
			<div > 
				<input type="number" 
                    name="collid1"  value="collid" th:value="${mnd.collid}" hidden="hidden">
				</div>	
				
        	<div id="optModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        
				        <h4 class="modal-title" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">옵션 수정 / 삭제</h4>
				      </div>
				      
				      <div class="modal-body">
				      <form id="optform">
				       <div class="form-group" >
				       <table class="table table-striped" th:unless = "${olist.isEmpty()}">
					<thead>
                    <tr  style= "color: #ffa000; font-family: 'Jua', sans-serif; ">
                    	<th><input type="checkbox" id="selectall2" /></th>
                        <th>옵션명</th>
                        <th>가격</th>   
                    </tr>
                </thead> 
                <tbody>
                    <tr th:each= "o: ${olist}"> 	
                      
                      <td th:unless = "${olist.isEmpty()}" ><input type="checkbox" name="selected" th:value="${o.id}"> </td>
                      <td th:unless = "${olist.isEmpty()}" ><input th:id="'opt'+${o.id}" type="text" name="name"   value="mopt" th:value="${o.name}" > </td> 
                      <td th:unless = "${olist.isEmpty()}" ><input th:id="'optp'+${o.id}" type="number" name="price"   value="popt" th:value="${o.price}" >
                       <button type="button" th:onclick="mody([[${o.id}]])">수정</button></td> 
                     
                    </tr>
                </tbody>	
				</table>
				<input class="form-control" type="number"  name="collid" th:value="${mnd.collid}" hidden="hidden">
        			<input class="form-control" type="number"  name="sid" th:value="${mnd.sid}" hidden="hidden">  
					<input class="form-control" type="number" id="idopt" name="mnid" th:value="${mnd.id}" hidden="hidden">
				  <ul th:if = "${olist.isEmpty()}">
          		<li > 옵션 없음 </li>
                </ul>
				      
				     
				    
					</div>	
					</form>
					<div>
					<hr style="border: dotted 1px blue;">
					<form id="addoptform">
					<div>
					<h4 style= "color: #ffa000; font-family: 'Jua', sans-serif; "> 옵션 추가</h4>
					<hr>
					</div>
					<div>
					 <label for="price" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">옵션명: </label>
					 </div>
					<div class="form-group">
         			
					<input class="form-control" type="text" id="addopt" name="name" >
					</div>
					<div>
					<label for="price" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">가격:</label>
					</div>
					<div class="form-group">
        			  
					<input class="form-control" type="number" id="addpopt" name="price">
					</div>
					<div class="form-group">
        			<input class="form-control" type="number"  name="collid" th:value="${mnd.collid}" hidden="hidden">
        			<input class="form-control" type="number"  name="sid" th:value="${mnd.sid}" hidden="hidden">  
					<input class="form-control" type="number" id="idopt" name="mnid" th:value="${mnd.id}" hidden="hidden">
					</div>
					
					</form>
					</div>	     
				      </div>
				      <div class="modal-footer">
				      	 <button class="btn btn-primary" id="optadd" type="button" style= "font-family: 'Jua', sans-serif; ">추가</button>
				      	
				      	 <button class="btn btn-primary" id="optdlt" type="button" style= " font-family: 'Jua', sans-serif; ">삭제</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				
				  </div>
				</div>
      
    </div>
  </div>
</div>