<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script>
 
 /*  function mody(id){
		var price = $('#price'+id).val();
		alert(price);
		$.ajax({
			url:'mnprice',
			data:{
			'id': id,
			'price' : price
			},
			success:function(data){
				alert(data);
				}
			});

	 };    */
  
  
  
  $(document).ready(function(){  
	  $("#selectall").click(function() {
			if($("#selectall").is(":checked")) $("input[name=selected]").prop("checked", true);
			else $("input[name=selected]").prop("checked", false);
		});
		
		$("input[name=selected]").click(function() {
			var total = $("input[name=selected]").length;
			var checked = $("input[name=selected]:checked").length;
			
			if(total != checked) $("#selectall").prop("checked", false);
			else $("#selectall").prop("checked", true); 
		});
		$('#menudltlbt').click(function(){
			var c = confirm('삭제 하시겠습니까?');
			var sArray =[];
			 $("input[name=selected]:checked").each(function(i) {
				 sArray.push($(this).val());
			 });
		
			
			if(c == true){
				 var id =   $('input[name="gtcl"]').val();
				 var collid =   $('input[name="gtcll"]').val();
				 var sid =   $('input[name="gtsid"]').val();
				location.href='/host/menu/msel/delete?sArray='+sArray+"&id="+id+"&collid="+collid+"&sid="+sid;
			}
		})
		
		
	  
	  
	  
	  $('#menuimplbt').click(function(){
		  var id =   $('input[name="gtcl"]').val();
		  var collid =   $('input[name="gtcll"]').val();
		  var sid =   $('input[name="gtsid"]').val();
			location.href = "/host/menu/menuregister?id="+id+"&collid="+collid+"&sid="+sid;
		});
		$('#backbtn2').click(function () {
			var id =   $('input[name="gtsid"]').val();
			var sid =   $('input[name="gtsid"]').val();
			location.href = "/host/menu/col?id="+id+"&sid="+sid;
		});
		$('#coldlt').click(function(){
			var c2 = confirm('컬렉션을 삭제 하시겠습니까?');
			var id =   $('input[name="gtcl"]').val();
			var collid =   $('input[name="gtcl"]').val();
			var sid =   $('input[name="gtsid"]').val();
			if(c2 == true){
				location.href="/host/menu/msel/deletecol?id="+id+"&collid="+collid+"&sid="+sid;
			}
		})
		
});
</script>

</head>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div>
			<h4 style= "color: #ffa000; font-family: 'Jua', sans-serif; " class="card-title" th:text="${col.name}" >메뉴판 관리</h4>
			<button th:if="${mnlist.isEmpty()}" id="coldlt" type="button" class="btn btn-info">컬렉션 삭제</button>
			
			</div>
			<div class="table-responsive">
				<div > 
				<input th:id="'gtcl'+${col.id}"  type="number" 
                    name="gtcl"  value="gtcl" th:value="${col.id}" hidden="hidden" >
				</div>
				<div th:each="mn: ${mnlist}"> 
				<input th:id="'gtcll'+${col.id}"  type="number" 
                    name="gtcll"  value="gtcll" th:value="${col.id}" hidden="hidden">
				</div>
				<div > 
				<input th:id="'gtsid'+${col.sid}"  type="number" 
                    name="gtsid"  value="gtsid" th:value="${col.sid}" hidden="hidden">
				</div>
				<table class="table table-striped">
					<thead>
                    <tr style= "color: #ffa000; font-family: 'Jua', sans-serif; ">
                        <th><input type="checkbox" id="selectall" /></th>
                        <th>이미지</th>
                        <th>메뉴명</th>
                        <th>가격</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr  th:each="mn: ${mnlist}">
                 		
                      	<td><input type="checkbox" name="selected" th:value="${mn.id}"></td>
                      	<td><img class="img-fluid rounded-3 h-100" th:if="${mn.img != null }" 
						th:src="'https://kr.object.ncloudstorage.com/foodject/menu/'+${mn.img}" alt="error1" />
						<img class="img-fluid rounded-3 h-100" th:unless="${mn.img != null }" 
						src="https://kr.object.ncloudstorage.com/foodject/menu/default.jpg" alt="error2" /></td>
                        <td><a  th:text="${mn.name}" th:href="@{detail(id=${mn.id},collid=${mn.collid},sid=${mn.sid})}"></a></td>
                        <!-- <img id="pimg" th:src="@{'/img/product_img/'+${cr.img0}}"></a></td> -->
                        
                        <td th:text="${mn.price}"></td>
                        
                       

                       
                       <!--  <td 
                        th:if="${cr.status} == 1"
                        th:text="판매중"></td>
                         <td 
                        th:if="${cr.status} != 1"
                        th:text="매진"></td> -->
                       
                    </tr>
                
                </tbody>	
				</table>
			</div>
			<hr><center>
			<button id="menuimplbt" type="button" class="btn btn-info" style= " font-family: 'Jua', sans-serif; ">메뉴 등록</button>
			<button id="menudltlbt" type="button" class="btn btn-info" style= "font-family: 'Jua', sans-serif; ">메뉴 삭제</button>
			<button id="backbtn2" type="button" class="btn btn-info" style= " font-family: 'Jua', sans-serif; ">뒤로 가기</button>
			</center>
		</div>
	</div>
</div>
