<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


<script type="text/javascript"
  th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaosrc} + '&libraries=services'"></script>
<script>

 

  $(document).ready(function () {
   

    

   
    $('#mncancel').click(function () {
    	var id =   $('input[name="gtcl2"]').val();
		var collid =   $('input[name="gtcl2"]').val();
		var sid =   $('input[name="gtsid2"]').val();
      location.href = "/host/menu/msel?id="+id+"&collid="+collid+"&sid="+sid;
    });
    $('#mnsubmit').click(function () {
    	var mnimg = $('#mnimg').val();
	    var name = $('#name').val();
	    var price = $('#price').val();
	    var line = $('#line').val();
	    var cid = $('#cid').val();
    	
	    if(mnimg == ''){
	         $('#mnimg').focus();
	         alert("등록할 이미지를 선택하세요.");
	         return;      
	      }
	      
	      if(name == ''){
	         $('#name').focus();
	         alert("메뉴명을 입력하세요.");
	         return;
	      }
	      if(price == ''){
		         $('#price').focus();
		         alert("가격을 입력하세요.");
		         return;      
		      }
		      
		      if(line == ''){
		         $('#line').focus();
		         alert("순서 번호를 정해주세요.");
		         return;
		      }
		      if(cid == ''){
			         $('#cid').focus();
			         alert("카테고리를 정해주세요.");
			         return;      
			      }
			      
			    
    	
    	
      $('#registerform').attr({
        'enctype': 'multipart/form-data',
        'method': 'post',
        'action': '/host/menu/register/menuregisterimpl'
      });
      $('#registerform').submit();

    });
  });
</script>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 style= "color: #ffa000; font-family: 'Jua', sans-serif; " class="card-title" th:text="${col.name} + ' 메뉴 추가'">메뉴 등록</h4>
      <form class="registerform" id="registerform">
        <div class="form-group">
        
   		     <div > 
				<input th:id="'gtcl2'+${col.id}"  type="number" 
                    name="gtcl2"  value="gtcl2" th:value="${col.id}" hidden="hidden">
				</div>
			<div > 
				<input th:id="'gtsid2'+${col.sid}"  type="number" 
                    name="gtsid2"  value="gtsid2" th:value="${col.sid}" hidden="hidden">
				</div>	
				
        	<div th:each="mn: ${mnlist}"> 
				<input th:id="'gtcll2'+${mn.collid}"  type="number" 
                    name="gtcll2"  value="gtcll2" th:value="${mn.collid}" hidden="hidden">
				</div>
          <label style= "color: #ffa000; font-family: 'Jua', sans-serif; ">메뉴 이미지</label>
          <div class="input-group col-xs-12">
            <input type="file" class="form-control file-upload-info" id="mnimg" name="mf" placeholder="Upload Image"
              accept=".jpg, .jpeg, .png">
            <span class="input-group-append">
              <!-- <button class="file-upload-browse btn btn-primary" id="bnumbtn" type="button">이미지 선택</button> -->
            </span>
          </div>
        </div>
        
        
      
        <div class="form-group">
          <label for="name" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">메뉴명</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="메뉴명">
        </div>
       
        <div class="form-group">
          <label for="price" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">가격</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="메뉴 가격">
        </div>
         <div class="form-group">
          <label for="line" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">순서</label>
          <input type="number" class="form-control" id="line" name="line" placeholder="메뉴 순서">
        </div>
         <div class="form-group">
          <label for="cid" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">카테고리</label>
          <select name="cid" class="form-control form-control-item" id="cid">
                	<option th:each="ct:${ctlist}" 
                	th:value="${ct.id}" 
                	th:text="${ct.name}">
                	</option>
                </select>
        </div>
        <div class="form-group" hidden="hidden">
          <label for="sid">가게 ID</label>
          <input type="sid" class="form-control" id="sid" name="sid" th:value="${col.sid}" placeholder="SHOP ID">
        </div>
       <div class="form-group" hidden="hidden">
          <label for="collid">컬렉션 ID</label>
          <input type="collid" class="form-control" id="collid" name="collid" th:value="${col.id}" placeholder="COLLECTION ID">
        </div>
        <button class="btn btn-primary" id="mnsubmit" type="button" style= " font-family: 'Jua', sans-serif; ">등록</button>
        <button class="btn btn-light" id="mncancel" type="button" style= "color: #ffa000; font-family: 'Jua', sans-serif; ">취소</button>
      </form>
    </div>
  </div>
</div>