<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.HostImgMapper">
	
	<select id="select" parameterType="Integer" resultType="hostimgVO">
		SELECT * FROM img WHERE id=#{id}
	</select>
	<select id="selectall" resultType="hostimgVO">
		SELECT * FROM img
	</select>
	<insert id="insert" parameterType="hostimgVO">
		INSERT INTO img VALUES(null, #{outid}, #{table}, #{img})
	</insert>
	<update id="update" parameterType="hostimgVO">
		UPDATE img img=#{img} WHERE id=#{id}
	</update>


	
</mapper>