<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.HostOrdersMapper" >
	<select id="selectbills" parameterType="int" resultType="HostOrdersVO">
		select distinct o.id, o.uid , o.sid, o.addr, o.addrd, o.phon, o.nick, o.date,o.status, o.ask, d.odid , ( select sum( num * price ) from detail group by odid having odid = o.id)
		+  ( select IFNULL( sum(oprice), 0 ) from dopt dt left join detail d on d.id = dt.did where d.odid = o.id ) as allprice
		from orders o 
		left join detail d on o.id = d.odid
		left join dopt dt on d.id = dt.did 
		where o.sid = #{sid}
		order by o.id desc;
	</select>
	<select id="selectbill" parameterType="int" resultType="HostOrdersVO">
		 select o.id, o.uid, o.sid, o.addr, o.addrd, o.phon, o.nick, o.date, o.status, o.ask
		, d.id as detail_id, d.odid as detail_odid, d.mnid as detail_mnid, d.mname as detail_mname, d.num as detail_num, d.price as detail_price
		, dt.did as dopt_did, dt.opid as dopt_opid, dt.oname as dopt_oname, dt.oprice as dopt_oprice, s.name as shop_name
		from orders o 
		left join detail d on o.id = d.odid
		left join dopt dt on d.id = dt.did
        left join shop s on o.sid = s.id
		where d.odid = #{id}
		order by d.id asc;
	</select>
	<select id="selectorders" parameterType="HostOrdersVO" resultType="HostOrdersVO">
		<if   test="shop_id == 0"> 
			select 
				o.id, o.uid, o.sid, o.addr, o.addrd, o.phon, o.nick, o.date, o.status, o.ask, s.name as shop_name
			from 
				orders o
			left join 
				shop s on o.sid = s.id
			where
				mid = #{shop_mid}
			order by 
				o.status desc, o.id desc
		</if><if   test="shop_id != 0"> 
			select 
				o.id, o.uid, o.sid, o.addr, o.addrd, o.phon, o.nick, o.date, o.status, o.ask, s.name as shop_name
			from 
				orders o
			left join 
				shop s on o.sid = s.id
			where
				mid = #{shop_mid} and s.id = #{shop_id}
			order by 
				o.status desc, o.id desc
		</if> 
	</select>
	<select id="mainseletcstatus" parameterType="string" resultType="int">
		select distinct count(*) from orders o join shop s on o.sid = s.id where s.mid = #{shop_mid} and o.status &gt; 1 and o.status &lt; 10;  
   </select>
   <select id="mainallorders" parameterType="string" resultType="int">
	select distinct count(*) from orders o join shop s on o.sid = s.id where s.mid = #{shop_mid} and o.status = 1;
	</select>
	<select id="mainallpriceday" parameterType="HostOrdersVO" resultType="HostOrdersVO" >
		select mid, sum(allprice) as allprice  from (
			SELECT s.id,o.id as oid, o.status as ostatus,  s.mid, s.name,  sum( d.num * d.price) + sum( doptsum.alloprice ) as allprice , o.date
					FROM orders o
					left join detail d on o.id = d.odid
					left join shop s on o.sid = s.id
					left join (select did, sum(oprice) as alloprice from dopt group by did) as doptsum on d.id = doptsum.did
					where o.status = 1 and date_format(o.date, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d') and s.mid = #{shop_mid}
					group by o.id) as tb
		group by tb.mid;
	</select>
	<select id="mainallpricemonth" parameterType="HostOrdersVO" resultType="HostOrdersVO">
		select mid, sum(allprice) as allprice  from (
			SELECT s.id,o.id as oid, o.status as ostatus,  s.mid, s.name,  sum( d.num * d.price) + sum( doptsum.alloprice ) as allprice , o.date
					FROM orders o
					left join detail d on o.id = d.odid
					left join shop s on o.sid = s.id
					left join (select did, sum(oprice) as alloprice from dopt group by did) as doptsum on d.id = doptsum.did
					where o.status = 1 and  date_format(o.date, '%Y-%m') = date_format(now(), '%Y-%m') and s.mid = #{shop_mid}
			group by o.id) as tb
		group by tb.mid;
	</select>





	<update id="changestatus" parameterType="HostOrdersVO"  >
		update orders set status=#{status} where id=#{id};
	</update >
	
	
</mapper>