<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserDetailMapper">
	
	<insert id="insert" parameterType="usercartVO">
		INSERT INTO detail VALUES (NULL, #{odid}, #{mnid}, #{mname}, #{num}, #{deprice})
		 <selectKey keyColumn="" keyProperty="id" order="AFTER" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	

	
</mapper>