<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserOrdersMapper">
	
	<select id="selectod" parameterType="String" resultType="userordersmyVO">
		SELECT DISTINCT o.id as oid, o.uid, o.status, o.date AS odate, s.name AS sname, s.logo AS slogo FROM orders o
		JOIN shop s ON o.sid = s.id
		WHERE o.uid=#{uid}  and o.status !=3 ORDER BY o.date DESC
	</select>
	<select id="selectodinfo" parameterType="int" resultType="userordersmyVO">
		SELECT DISTINCT o.id as oid, o.uid, o.date AS odate, s.name AS sname, s.logo AS slogo, o.status FROM orders o
		JOIN shop s ON o.sid = s.id
		WHERE o.id=#{oid}	
	</select>
	<select id="selectodde" parameterType="int" resultType="userordersmyVO">
		select distinct 
        id as oid, addr, addrd, phon, nick, date as odate, status, ask
		from orders
		where id=#{oid}
	</select>
	<select id="selectoddeid" parameterType="int" resultType="int">
		select distinct 
		de.id as deid		from orders o
		join detail de on o.id = de.odid
		where o.id=#{oid}	
	</select>
	
	<select id="selectoddemenu" parameterType="int" resultType="userordersmyVO">
        select
		id as deid, mnid as mid, mname, price as mprice, num as mnum
		from detail
		where id=#{deid}
	</select>
	
	<select id="selectoddeopt" parameterType="int" resultType="userordersmyVO">
       select
        de.id as deid,
        d.opid, d.oname AS opname, d.oprice AS opprice
        from dopt d
        JOIN detail de on d.did = de.id
        WHERE d.did=#{deid}        
	</select>
	
	<select id="selectallprice"  parameterType="int" resultType="userordersmyVO">
		select distinct o.id as oid, (select sum( num * price ) from detail group by odid having odid = o.id)
		+  ( select IFNULL( sum(oprice), 0 ) from dopt dt left join detail d on d.id = dt.did where d.odid = o.id ) as allprice
		from orders o 
		left join detail d on o.id = d.odid
		left join dopt dt on d.id = dt.did 
		where o.id = #{oid}
		order by o.id desc
	</select>
			
	<delete id="orderdelete" parameterType="userordersmyVO">
		UPDATE orders SET status=3 WHERE id=#{oid}
	</delete>

	
</mapper>