


<head>
	<style>
		#me {
			width: 400px;
			height: 600px;
			overflow: auto;
			/* border: 2px solid blue; */
		}

		#chatbot {
			/* width: 400px; */
			height: 50px;
			overflow: auto;
			/* border: 2px solid blue; */
		}

		#size {
			height: 275px;
			overflow: auto;
		}

		.user {
			text-align: right;
			height: 50px;

		}

		.chatbot {
			height: 50px;
		}

		.card-body {
			height: auto;
			width: auto;

      
		}
    .chat_logo{
      height: 30px;
    }
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var stompClient = null;
		
		var id = [[${ session.loginid.id }]];
		/* ]]> */
		// 서버소켓에 연결
		function connect() {
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);

			stompClient.connect({}, function (frame) {
				setConnected(true);
				console.log('Connected: ' + frame);
				stompClient.subscribe('/send/' + id, function (msg) {

					$("#chatbot").append(
						"<tr>"
						+ "<td class='user'>" + JSON.parse(msg.body).content1
						+ " : " + JSON.parse(msg.body).sendid + "</td>"
						+ "</tr>"
						+ "<tr>"
						+ "<td class='py-1'><img class='chat_logo' src='https://kr.object.ncloudstorage.com/foodject/css/bot.png' alt='' /> Bot : " +
						JSON.parse(msg.body).content2 + "</td>"
						+ "</tr>"
					);
					$("#size").scrollTop($("#size")[0].scrollHeight);
				});

				stompClient.subscribe('/send/serversend', function (msg) {
					$("#servermsg1").text(JSON.parse(msg.body).content1);
					$("#servermsg2").text(JSON.parse(msg.body).content2);
				});
			});
		}

		// 서버소켓에 연결끊기
		function disconnect() {
			if (stompClient != null) {
				stompClient.disconnect();
			}
			setConnected(false);
			console.log("Disconnected");
		}

		// connect&disconnect버턴 활성화/비활성화
		function setConnected(connected) {
			if (connected) {
				$("#status").text("Connected");
			} else {
				$("#status").text("Disconnected");
			}

		}

		// 서버에 메세지 요청 메서드

		function sendMe() {
			var msg = JSON.stringify({
				'sendid': id,
				'content1': $('#metext').val()
			});
			stompClient.send("/receiveme", {}, msg);
			$('#metext').val('');
		}

		$(document).ready(function () {
			// $("#connect").click(function () {
			// 	connect();
			// });
			connect();
			$("#disconnect").click(function () {
				disconnect();
				location.href = "/host"
			});
			$("#sendme").click(function () {
				sendMe();
			});
			$("#metext").keypress(function (e) {
				if (e.code == 'Enter') {
					sendMe();
				}
			});


		});



$(document).ready(function(){
	//Menu Buttons
	$('#update').click(function(){
 		location.href='/cust/update';
	});
	$('#myorders').click(function(){
 		location.href='/cust/myorders';
	});
	$('#cs').click(function(){
 		location.href='/cust/cs';
	});	
	
});
</script>

</head>
<section class="pb-5 pt-8">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
            
             <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4 text-center">My Page <a href="/cust"><span class="text-primary">마이페이지</span></a></h1>
                <div class="d-grid bottom-0">                
                <a class="btn btn-lg btn-primary mt-xl-6" id="update" href="/cust/update">회원정보수정하기</a><p></p>
                <a class="btn btn-lg btn-primary mt-xl-6" id="myorders" href="/cust/myorders">주문내역조회</a><p></p>
                <a class="btn btn-danger text-white mt-xl-6" id="cs" href="/cust/cs">고객센터 &nbsp<i class="fas fa-mouse-pointer me-2"></i></a><p></p>
                </div>
              </div>
            
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                <h1 class="card-title mt-xl-5 mb-4 text-center">CS</h1>
                <!-- chatbot -->

                <div class="col-xl-9 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title" th:text="${session.loginid.id}">Striped Table</h4>
                      <div class="table-responsive" id="size">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="chatbot">
                                ChatBot
                              </th>
                              <th class="user">
                                User
                              </th>
                            </tr>
                          </thead>
                          <tbody id="chatbot">
                          </tbody>
                        </table>
                        
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1"></label> <input type="text" class="form-control" id="metext"
                          placeholder="질문을 적어주세요">
                      </div>
                      <button id="sendme" class="btn btn-primary mr-2">질문</button>
                      <button class="btn btn-light" id="disconnect">종료</button>
                    </div>
                    
              
                  </div>
                </div>

                <!-- /chatbot -->
                

			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>