<script>


function check(){
	var oid = $('input[name="oidinput"]').val();
	if (confirm("주문내역을 삭제하시겠습니까? \n 삭제하면 복구할 수 없습니다.") == true){
		location.href='/cust/orderdelete?oid='+oid;
	};
};
$(document).ready(function(){
	
	//Menu Buttons
	$('#mypagebtn').click(function(){
  		var uid = $('#uid_index').val();
 		location.href='/cust?uid='+uid;
	});
	$('#update').click(function(){
  		var uid = $('#uid_index').val();
 		location.href='/cust/update?uid='+uid;
	});
	$('#myorders').click(function(){
		var uid = $('#uid_index').val();
 		location.href='/cust/myorders?uid='+uid;
	});
	$('#cs').click(function(){
 		location.href='/cust/cs';
	})



});
</script>

<section class="pb-5 pt-8">
<h5 th:if="${session.loginid != null}">
   <input type="hidden" id="uid_index" name="uid" th:value="${session.loginid.id}">           	
</h5>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
            
             <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4 text-center">My Page <a id="mypagebtn"><span class="text-primary">마이페이지</span></a></h1>
                <div class="d-grid bottom-0">                
                <a class="btn btn-lg btn-primary mt-xl-6" id="update">회원정보수정하기</a><p></p>
                <a class="btn btn-danger text-white mt-xl-6" id="myorders">주문내역조회 &nbsp<i class="fas fa-mouse-pointer me-2"></i></a><p></p>
                <a class="btn btn-lg btn-primary mt-xl-6" id="cs">고객센터</a><p></p>
                </div>
              </div>
            
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1  pt-4">
                	<div class="p-5">
                	<div class="card card-span mb-3 shadow-sm"> 
                	               	
	                	<!-- 주문상세 Header -->
					      <div class="modal-header">
					      	<div class="ps-3">
					          <h4 class="modal-title"><i class="fas fa-list"></i>&nbsp  &nbsp 주문상세</h4>					      	
					      	</div>
					      </div>
					
					      <!-- 주문상세 정보 -->
					      <div class="modal-body">	
					      	<div class="p-3">	

	      						<!-- 주문정보 odinfo(order info) -->
						      	<h5 class="text-dark" th:if = "${i.status}  == 1" th:text="배달완료"></h5>
						      	<h5 class="text-gray" th:if = "${i.status}  == 0" th:text="주문취소"></h5>
						      	<h5 class="text-primary" th:if = "${i.status}  == 2" th:text="배달중"></h5>	
						      	<h5 class="text-primary" th:if = "${i.status} == 3" th:text="주문수락완료"></h5>
						      	<h5 class="text-primary" th:if = "${i.status} == 4" th:text="주문확인요청중"></h5>
						      						      	
						      	<h2 th:text="${i.sname}"></h2>
								<h6 th:text="${'주문일시: '+#dates.format(i.odate,'yyyy년 MM월 dd일 HH시 mm분')}"></h6>
								<h6 class="pb-2" th:text="${'주문번호: '+i.oid+'번'}"></h6>

					      	</div>
							<div class="pb-3 text-center">
					        	<a type="button" th:href="@{/shop/main(sid=${i.sid})}" class="btn btn-line text-dark"><i class="fas fa-home"></i>&nbsp 가게보기</a>
					        </div>
						
						
						  <!-- 주문상세 내용  -->
					        <div class="card">
					          <div class="p-3">	
					          				          
					      		<!-- 주문디테일 + 옵션 추가 odopt(order details option) -->
			          	        <div class="modal-footer">
					             <table  th:each="m: ${m}"  width="100%" cellspacing="0">
				                   <tbody>
			                         <tr>
		                               <td><h6 th:text="${m.mname}"></h6></td>	                              
		                               <td align="right"></td>
				                     </tr>
				                     <tr >
		                               <td>
		                               	<ul>
		                               	  <li>
		                               	    <p1>기본:&nbsp</p1>
		                               	    <p1 th:text="${#numbers.formatInteger(m.mprice, 0, 'COMMA')+'원'}"></p1>
		                               	  </li> 
		                               	  <li>
		                               	    <p1>추가옵션(가격):&nbsp</p1>
		                               	    <p1 th:each="opt: ${opt}" th:if="${opt.deid}==${m.deid}" 
		                               	    th:text="${opt.opname}+'('+${opt.opprice}+'원)&nbsp&nbsp&nbsp&nbsp'"></p1>
		                               	  </li>
		                               	</ul>
		                               </td>                           
				                     </tr>
				                     <tr >
		                               <td><h1></h1></td>                           
				                     </tr>
				                   </tbody>
					             </table>
					             
					         	</div>
					         	
					         	<!-- 주문가격  -->
								<div class="modal-footer">
								  <table width="100%" cellspacing="0">
									  <tbody>
									    <tr>
									      <td><h6>총 주문금액</h6>   </td>
									      <td><h6 align="right" th:text="${#numbers.formatInteger(ap, 0, 'COMMA')}+'원'"></h6>   </td>
									    </tr>
									    <tr>
									      <td><h6>배달팁</h6>   </td>
									      <td align="right"><h6>3000원</h6>   </td>
									    </tr>								  
									  </tbody>
								  </table>
					      		</div>
					      		<div class="modal-footer">
								  <table width="100%" cellspacing="0">
									  <tbody>
									    <tr>
									      <td><h5>최종결제가격</h5></td>
									      <td><h5 align="right" th:text="${#numbers.formatInteger(ap+3000, 0, 'COMMA')}+'원'"></h5></td>
									    </tr>
									  </tbody>
								  </table>
					      		
					      		
					      		</div>
					          </div>												
					        </div>
					        <div class="p-1">
					        </div>
					        
					        
					        <!-- 배달정보 -->
					        <div class="card">
					          <div class="p-4" th:each="d:${d}" >
					           <h6>배달주소</h6>
					           <p1 th:text="${d.addr}+' '+${d.addrd}"></p1><hr>					           
					           <h6>연락처</h6>
					           <p1 th:text="${d.phon}"></p1><hr>
					           <h6>요청사항</h6>
					           <p1 th:text="${d.ask}"></p1>
							  </div>
					        </div>
	
					        
					      </div>

					</div>
					</div>
                         
			  </div>
			  
			  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>