<section class="py-8 overflow-hidden">

<style>
.cartbox{
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius:20px;
	margin:auto;
	border:2px solid grey;
	margin-bottom:10px;
}
.imgbox{
	width:20%;
	margin:2% 2% 2% 2%;
	display:inline-block;
}
.cartdata{
	display:inline-block;
	margin:2% 2% 2% 2%;
	width:70%;
	
}
.mn_name{
	position:relative;
	top:2%;

}
.quantity{
	display:inline-block;
}
.price{
	display:inline-block;
}
.optionbox{
	margin:0 5% 2% 40%;
	position:relative;
	
	
	
	border-radius:15px;
	border:2px solid grey;
	background-color:rgba(0, 0, 0, 0.1);
}
.optiontable{
	margin:3% 3% 3% 3%;
}

</style>

<script>

$(document).ready(function(){

});

</script>


  <div class="container">
    <div class="row flex-center mb-6">
      <div class="col-lg-7">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start" th:text="${user}+'님의 장바구니'">여기는 카트 페이지 입니다.</h5>
      </div>
    </div>
    
    <div class="cartbox" th:each="cr:${crlist}">
    	<!-- 좌측 이미지 start-->
    	<div class="imgbox">
    		<img class="img-fluid rounded-3 h-100" src="https://kr.object.ncloudstorage.com/foodject/menu/default.jpg" alt="error2" />
    	</div>
    	<!-- 좌측 이미지 end-->
    	<!-- 우측 장바구니 정보 start -->
	    <div class="cartdata">
	    	<div class="mn_name">
	    		<h3 th:text="${cr.name}">메뉴 이름</h3>
	    	</div>
			<div class="quantity col-3">
	    		<lable for="quantity">수량:</lable>
	    		<input id="quantity" type="number" th:value="${cr.num}" min="1" style="width:50px">
	    	</div>
	    	<div class="price" >
	    		<h4 th:text="'￦ '+${cr.total}"></h4>
	    	</div>
	    </div>
    	<!-- 우측 장바구니 정보 start -->
    	<br>
    	<!-- 하단 옵션 start -->
    	<div th:if="${cr.count != 0}">
    		<div class="optionbox">
	    		<h5 style="text-align: center">옵션</h5>
	    		<table class="optiontable">
	    			<tr th:each="oc:${oclist}" th:if="${oc.ctid == cr.id}">
	    				<td th:text="${oc.name}+' / '">옵션 이름</td>
	    				<td th:text="${oc.price}+' 원'">옵션 가격</td>
	    			</tr>
	    				
	    		</table>
    		</div>
		</div>
		<!-- 하단 옵션 end -->
    </div>
   
    
  </div><!-- end of .container-->
</section>