<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Foodject 맛있는 음식 &amp; 다 함께 즐겨요 </title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/bootstrap/foodwagon/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/bootstrap/foodwagon/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/bootstrap/foodwagon/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/foodwagon/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/bootstrap/foodwagon/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/bootstrap/foodwagon/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/bootstrap/foodwagon/assets/css/theme.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--  script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" / -->



<script>
$(document).ready(function(){
	var sid = $('#sid').val();
	alert('같은 가게의 메뉴만 담을 수 있습니다. sid='+sid);
	location.href='/shop/main/sid';
});

</script>

<input type="hidden" th:value="${sid}" id="sid">

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/bootstrap/foodwagon/vendors/@popperjs/popper.min.js"></script>
    <script src="/bootstrap/foodwagon/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/bootstrap/foodwagon/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/bootstrap/foodwagon/vendors/fontawesome/all.min.js"></script>
    <script src="/bootstrap/foodwagon/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
  </body>

</html>