
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
             <!-- title -->
             <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">주문 확인</h3>
                    <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
                  </div>
                  
                  <div class="col-12 col-xl-4">
                   <div class="justify-content-end d-flex">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                      <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                       <i class="mdi mdi-calendar" ></i>전체

                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                        <a class="dropdown-item" href="#" onclick="">전체</a>
                        <a class="dropdown-item" href="#">미수락</a>
                        <a class="dropdown-item" href="#">배송중</a>
                        <a class="dropdown-item" href="#">배송 완료</a>
                      </div>
                      
                    </div>
                   </div>
                  </div>
                 


                </div>
              </div>
            </div>
             <!--  -->
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                      <thead>
                        <tr>                       
                          <th>주문 번호</th>
                          <th>가게 이름</th>
                          <th>주문 고객</th>
                          
                          <th>배송지</th>
                          <th>전화번호</th>   
                          <th>수락/거절</th>
                          <th>주문 시간</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-danger">
                          <td>1</td>
                          <td>1s</td>
                          <td>1s</td>
                          <td>1s</td>
                          <td>1s</td>
                          <td>1s</td>
                          <td>1s</td>
                        </tr>
                      </tbody>
                  </table>
                  
                  </div>
                </div>
              </div>
              </div>
            </div>         
          </div>
        </div>
          
        </div>
        <!-- content-wrapper ends -->

  
      <!-- websoket -->
      <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shop Websocket</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<style>
	#all{
		width:400px;
		height:200px;
		overflow: auto;
		border:2px solid red;
	}
	#me{
		width:400px;
		height:200px;
		overflow: auto;
		border:2px solid blue;
	}
	#to{
		width:400px;
		height:200px;
		overflow: auto;
		border:2px solid green;
	}
</style>

<script th:inline="javascript">
	 /*<![CDATA[*/ 
	var stompClient = null;
	var id = [[${session.loginshop.id}]];
	/* ]]> */
	// 서버소켓에 연결
	function connect() {
		var socket = new SockJS('/ws');
		stompClient = Stomp.over(socket);

		stompClient.connect({}, function(frame) { 
			setConnected(true);
			console.log('Connected: ' + frame);
			stompClient.subscribe('/send', function(msg) { 
				$("#all").append(
						"<h4>" + JSON.parse(msg.body).sendid +":"+
						JSON.parse(msg.body).content1
								+ "</h4>");
			});
			stompClient.subscribe('/send/'+id, function(msg) { 
				$("#me").append(
						"<h4>" + JSON.parse(msg.body).sendid +":"+
						JSON.parse(msg.body).content1+"<br><br>"+
						JSON.parse(msg.body).content2
								+ "</h4>");
			});
			stompClient.subscribe('/send/tomsg/'+id, function(msg) { 
				$("#to").append(
						"<h4>" + JSON.parse(msg.body).sendid +":"+
						JSON.parse(msg.body).content1
								+ "</h4>");
			});
			stompClient.subscribe('/send/serversend', function(msg) { 
				$("#servermsg1").text(JSON.parse(msg.body).content1);
				$("#servermsg2").text(JSON.parse(msg.body).content2);
			});
		});
	}
	
	// 서버소켓에 연결끊기
	function disconnect() {
		if (stompClient !== null) {
			stompClient.disconnect();
		}
		setConnected(false);
		console.log("Disconnected");
	}

	// connect&disconnect버턴 활성화/비활성화
	function setConnected(connected) {
		if (connected) {
			$("#status").text("Connected");
		} else {
			$("#status").text("Disconnected");
		}
		
	}

	// 서버에 메세지 요청 메서드
	function sendAll() {
		var msg = JSON.stringify({
			'sendid' : id,
			'content1' : $("#alltext").val()
		});
		stompClient.send("/receiveall", {}, msg);
	}
	function sendMe() {
		var msg = JSON.stringify({
			'sendid' : id,
			'content1' : $('#metext').val()
		});
		stompClient.send("/receiveme", {}, msg);
	}
	function sendTo() {
		var msg = JSON.stringify({
			'sendid' : id,
			'receiveid' : $('#target').val(),
			'content1' : $('#totext').val()
		});
		stompClient.send('/receivetomsg', {}, msg);
	}
	$(document).ready(function() {
		$("#connect").click(function() {
			connect();
		});
		$("#disconnect").click(function() {
			disconnect();
		});
		$("#sendall").click(function() {
			sendAll();
		});
		$("#sendme").click(function() {
			sendMe();
		});
		$("#sendto").click(function() {
			sendTo();
		});
	});
</script>
</head>
<body>
	<H1 th:text="${session.loginid}">ID</H1>
	<H1 id="status">Status</H1>
	<H1 id="servermsg1">Server Msg1</H1>
	<H1 id="servermsg2">Server Msg2</H1>
	<button id="connect">Connect</button>
	<button id="disconnect">Disconnect</button>
	
	<h3>All</h3>
	<input type="text" id="alltext"><button id="sendall">Send</button>
	<div id="all"></div>
	
	<h3>Me</h3>
	<input type="text" id="metext"><button id="sendme">Send</button>
	<div id="me"></div>
	
	<h3>To</h3>
	<input type="text" id="target">
	<input type="text" id="totext"><button id="sendto">Send</button>
	<div id="to"></div>

</body>
</html>


