<head>

	<style>
		#all {
			width: 400px;
			height: 200px;
			overflow: auto;
			border: 2px solid red;
		}

		#me {
			width: 400px;
			height: 200px;
			overflow: auto;
			border: 2px solid blue;
		}

		#to {
			width: 400px;
			height: 200px;
			overflow: auto;
			border: 2px solid green;
		}
		#dropdownMenuDate2{
			color:  black;
			background: #ffa000;
			background-color: #ffa000;
			color
		}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var stompClient = null;
		var id = [[${ session.loginshop.id }]];
		/* ]]> */
		// 서버소켓에 연결


		var orders_status = new Map();
		var modal_data = null;

		function isEmpty(str){
		
		if(typeof str == "undefined" || str == null || str == "")
			return true;
		else
			return false ;
		}
		
		/**
		 * 문자열이 빈 문자열인지 체크하여 기본 문자열로 리턴한다. 
		 * @param str			: 체크할 문자열
		 * @param defaultStr	: 문자열이 비어있을경우 리턴할 기본 문자열
		 */	
		function nvl(str, defaultStr){
			
			if(typeof str == "undefined" || str == null || str == "")
				str = defaultStr ;
			
			return str ;
		}



		function connect() {
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);

			stompClient.connect({}, function (frame) {
				setConnected(true);
				console.log('Connected: ' + frame);
				stompClient.subscribe('/send', function (msg) {
					$("#all").append(
						"<h4>" + JSON.parse(msg.body).sendid + ":" +
						JSON.parse(msg.body).content1
						+ "</h4>");
				});
				stompClient.subscribe('/send/' + id, function (msg) {
					$("#me").append(
						"<h4>" + JSON.parse(msg.body).sendid + ":" +
						JSON.parse(msg.body).content1 + "<br><br>" +
						JSON.parse(msg.body).content2
						+ "</h4>");
				});
				stompClient.subscribe('/send/tomsg/' + id, function (msg) {
					$("#to").append(
						"<h4>" + JSON.parse(msg.body).sendid + ":" +
						JSON.parse(msg.body).content1
						+ "</h4>");
				});
				stompClient.subscribe('/send/serversend', function (msg) {
					$("#servermsg1").text(JSON.parse(msg.body).content1);
					$("#servermsg2").text(JSON.parse(msg.body).content2);
				});
			});
		}

		// 서버소켓에 연결끊기
		function disconnect() {
			if (stompClient !== null) {
				stompClient.disconnect();
			}
			setConnected(false);
			console.log("Disconnected");
		}

		// connect&disconnect버턴 활성화/비활성화
		function setConnected(connected) {
			if (connected) {
				$("#status").text("Connected");
			} else {
				$("#status").text("Disconnected");
			}

		}

		// 서버에 메세지 요청 메서드
		function sendAll() {
			var msg = JSON.stringify({
				'sendid': id,
				'content1': $("#alltext").val()
			});
			stompClient.send("/receiveall", {}, msg);
		}
		function sendMe() {
			var msg = JSON.stringify({
				'sendid': id,
				'content1': $('#metext').val()
			});
			stompClient.send("/receiveme", {}, msg);
		}
		function sendTo() {
			var msg = JSON.stringify({
				'sendid': id,
				'receiveid': $('#target').val(),
				'content1': $('#totext').val()
			});
			stompClient.send('/receivetomsg', {}, msg);
		}
		
		function modal(id){

			$.ajax({
				url: '/host/shop/bill',
				type: "POST",
				data: { "id": id },
				success: function (data) {

					modal_display(data);
					
					
				}
			});
		}

		function display(data) {
			
			$('#orders_list').empty();
			for (let index = 0; index < data.length; index++) {
				const element = data[index];				
				$('#orders_list').append(makeTr(element));
			}
		}
		function makeTr(element){
			list_str = "";
				if (element.status == 4) {
					list_str = '<tr class="table-danger" onclick="modal('+element.id+')" id="orders_tr'+ element.id+'">';
					orders_status.set(element.status, 'orders_tr'+ element.id );
					element.status = "주문 대기";
				} else if (element.status == 3) {
					list_str = '<tr class="table-warning" onclick="modal('+element.id+')" id="orders_tr'+ element.id+'">';
					orders_status.set(element.status, 'orders_tr'+ element.id );
					element.status = "주문 수락";

				} else if (element.status == 2) {
					list_str = '<tr class="table-info" onclick="modal('+element.id+')" id="orders_tr'+ element.id+'">';
					orders_status.set(element.status, 'orders_tr'+ element.id );
					element.status = "배송 중";
				}
				else if (element.status == 1) {
					list_str = '<tr class="table-success" onclick="modal('+element.id+')" id="orders_tr'+ element.id+'">';
					orders_status.set(element.status, 'orders_tr'+ element.id );
					element.status = "배송 완료";
				}
				else if (element.status == 0) {
					list_str = '<tr class="table-danger" onclick="modal('+element.id+')" id="orders_tr'+ element.id+'">';
					orders_status.set(element.status, 'orders_tr'+ element.id );
					element.status = "주문 거절";
				}

				list_str += '<td>' + element.id + '</td>'
					+ '<td>' + element.shop_name + '</td>'
					+ '<td class="font-weight-bold"> ' + element.uid + '  </td>'
					+ '<td class="right_align">' + element.addr + " : " + element.addrd + ' </td>'
					+ '<td class="right_align">' + element.phon + ' </td>'
					+ '<td class="right_align">' + element.status + ' </td>'
					+ '<td class="right_align">' + moment(element.date ).format("YYYY년 MM월 DD일 HH시mm분") + ' </td>'
					+ '</tr>';
				return list_str;
		}
		function ajaxDatas(id) {

			$.ajax({
				url: '/host/orders/getDatas',
				type: "POST",
				data: { "id": id },
				success: function (data) {

					display(data);
				}
			});
		}

		function getData(name, id) {
	
			if (name == null) {
				$('#dropdownMenuDate2').text("전 체");
				id = 0;
			} else {
				$('#dropdownMenuDate2').text(name);
			}
			ajaxDatas(id);
		}
		function modal_display(data) {

			var arr = new Array();
			var did = 0;
			var modal_str = "";
			var allprice = 0;
			arr = data;
			modal_data = arr[0];
			
			$('#modal_id').text("주문 번호 : " + arr[0].id + " ( " + arr[0].shop_name + " )");
			$('#modal_uid').text(arr[0].uid);
			$('#modal_nick').text(arr[0].nick);
			$('#modal_date').text(moment(arr[0].date).format("YYYY년 MM월 DD일 HH시mm분"));
			$('#modal_addr').text(arr[0].addr + " " + arr[0].addrd);
			$('#modal_phon').text(arr[0].phon);
			if (arr[0].status == 0) {
				$('#modal_status').text("주문 취소");
			} else if (arr[0].status == 1) {				
				$('#modal_status').text("배송 완료");

			} else if (arr[0].status == 2) {
				$('#modal_status').text("배송 중");


			}else if (arr[0].status == 3) {
				$('#modal_status').text("주문 수락");
			}else if (arr[0].status == 4) {
				$('#modal_status').text("주문 대기");
				
			}
			$('#modal_ask').text(arr[0].ask);

			$('#modal_body').empty();
			for (let index = 0; index < arr.length; index++) {
				const element = arr[index];

				if (did != element.detail_id) {
					modal_str = '<tr id=detail_' + element.detail_id + '>'
						+ '<td class="font-weight-bold" colspan="2">' + element.detail_mname + '</td>'
						+ '<td>' + element.detail_num + '</td>'
						+ '<td class="right_align">' + element.detail_price + '원</td>'
						+ '</tr>';
					if (element.dopt_oname != null) {
						modal_str += '<tr >'
							+ '<td></td>'
							+ '<td class="right_align">' + element.dopt_oname + '</td>'
							+ '<td> + </td>'
							+ '<td class="right_align">' + element.dopt_oprice + '원</td>'
							+ '</tr>'
					}

					$('#modal_body').append(modal_str);
					did = element.detail_id;
					allprice += (element.detail_num * element.detail_price) + element.dopt_oprice;
				} else {
					modal_str = '<tr >'
						+ '<td></td>'
						+ '<td class="right_align">' + element.dopt_oname + '</td>'
						+ '<td> + </td>'
						+ '<td class="right_align">' + element.dopt_oprice + '원 </td>'
						+ '</tr>'
					$('#modal_body').append(modal_str);
					allprice += element.dopt_oprice;
				}

			}
			modal_str = '<tr >'
						+ '<td></td>'
						+ '<td ></td>'
						+ '<td class="font-weight-bold"> 총액  </td>'
						+ '<td class="right_align">' + allprice + '원 </td>'
						+ '</tr>'
					$('#modal_body').append(modal_str);
		$('#open_modal_btn').click();
		}
		function changeStatus(id, status){
		
			$.ajax({
				url: '/host/orders/changeStatus',
				type: "POST",
				data: { "id": id, 
					"status" : status },
				success: function (data) {

				}
			});
		}
		function upDateStatus(status){	
			var cnt = 0;
			changeStatus(modal_data.id, status);
			modal_data.status = status;
		
			$('#modal_close').click();
			alert("변경 되었습니다.");
			$('#'+orders_status.get(status)).after(makeTr(modal_data));
			
			$('#orders_tr'+ modal_data.id).remove();
			getData();
		}


		$(document).ready(function () {

			getData();
		
			// <웹 소켓>
			$("#connect").click(function () {
				connect();
			});
			$("#disconnect").click(function () {
				disconnect();
			});
			$("#sendall").click(function () {
				sendAll();
			});
			$("#sendme").click(function () {
				sendMe();
			});
			$("#sendto").click(function () {
				sendTo();
			});
			// </웹 소켓>
		});
	</script>
</head>
<!-- modal -->
<div class="container mt-3">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="open_modal_btn"
		hidden>
		Open modal
	</button>

	
</div>
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" id="modal_id">Modal Heading</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal">x</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">구매자 정보</h4>
							<div class="row">
								<div class="col-md-6">
									<address>
										<p class="font-weight-bold">아이디</p>
										<p id="modal_uid">
											695 lsom Ave,
										</p>
										<p class="font-weight-bold">닉네임</p>
										<p id="modal_nick">
											San Francisco, CA 94107
										</p>
										<p class="font-weight-bold">결제일</p>
										<p id="modal_date">
											San Francisco, CA 94107
										</p>
									</address>
								</div>
								<div class="col-md-6">
									<address class="text-primary">
										<p class="font-weight-bold">
											주소
										</p>
										<p class="mb-2" id="modal_addr">
											johndoe@examplemeail.com
										</p>
										<p class="font-weight-bold">
											전화 번호
										</p>
										<p id="modal_phon">
											www.Skydash.com
										</p>
										<p class="font-weight-bold">
											주문 상태
										</p>
										<p id="modal_status">
											www.Skydash.com
										</p>
									</address>
								</div>
								<div class="col-lg-12">
									<address>
										<p class="font-weight-bold">요청사항</p>
										<p id="modal_ask">
											695 lsom Ave,
										</p>

									</address>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th colspan="2">메뉴</th>
											<th style="width: 2px;">수량</th>
											<th class="right_align">가격</th>
										</tr>
									</thead>
									<tbody id="modal_body">
										<tr>
											<td>Jacob</td>
											<td>53275531</td>
											<td>12 May 2017</td>
											<td><label class="badge badge-danger">Pending</label></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

	
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-warning btn-rounded btn-fw" id="modal_ok" onclick="upDateStatus(3)">수락</button>
				<button type="button" class="btn btn-info btn-rounded btn-fw" id="modal_delivery" onclick="upDateStatus(2)">배달</button>
				<button type="button" class="btn btn-success btn-rounded btn-fw" id="modal_delivery_success" onclick="upDateStatus(1)">배달 완료</button>
				<button type="button" class="btn btn-danger btn-rounded btn-fw" id="modal_no" onclick="upDateStatus(0)">거절</button>
				<button type="button" class="btn btn-warning" id="modal_cancel" onclick="upDateStatus(0)">취소</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal_close">닫기</button>
			</div>
		</div>
	</div>
</div>
<!-- /modal -->




<div class="content-wrapper">
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<!-- title -->
					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="row">
								<div class="col-12 col-xl-8 mb-4 mb-xl-0">
									<h3 class="font-weight-bold">주문 확인</h3>
									<!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
								</div>

								<div class="col-12 col-xl-4">
									<div class="justify-content-end d-flex" th:if="${slist != null}">
										<div class="dropdown flex-md-grow-1 flex-xl-grow-0">
											<button class="btn btn-sm btn-warning bg-white dropdown-toggle" type="button"
												id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="true">
												<i class="mdi mdi-calendar"></i>
												전 체
											</button>

											<div class="dropdown-menu dropdown-menu-right"
												aria-labelledby="dropdownMenuDate2">
												<a class="dropdown-item" onclick="getData()">전 체</a>
												<a class="dropdown-item" th:onclick="getData([[${s.name}]],[[${s.id}]])"
													th:text="${s.name}" th:each="s:${slist}">전 체</a>
											</div>

										</div>
									</div>
								</div>



							</div>
						</div>
					</div>
					<!--  -->
					<div class="row">
						<div class="col-12">
							<div class="table-responsive">
								<table id="example" class="display expandable-table" style="width:100%">
									<thead>
										<tr>
											<th>주문 번호</th>
											<th>가게 이름</th>
											<th>주문 고객</th>

											<th>배송지</th>
											<th>전화번호</th>
											<th>수락/거절</th>
											<th>주문 시간</th>
										</tr>
									</thead>
									<tbody id="orders_list">

									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- content-wrapper ends -->



<body>
	<!-- <H1 th:text="${session.loginid.id}">ID</H1> -->
	<H1 id="status">Status</H1>
	<H1 id="servermsg1">Server Msg1</H1>
	<H1 id="servermsg2">Server Msg2</H1>
	<button id="connect">Connect</button>
	<button id="disconnect">Disconnect</button>

	<h3>All</h3>
	<input type="text" id="alltext"><button id="sendall">Send</button>
	<div id="all"></div>

	<h3>Me</h3>
	<input type="text" id="metext"><button id="sendme">Send</button>
	<div id="me"></div>

	<h3>To</h3>
	<input type="text" id="target">
	<input type="text" id="totext"><button id="sendto">Send</button>
	<div id="to"></div>

</body>

</html>